* {
    margin: 0;
    padding: 0;
}

ul,
ol,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    display: inline-block;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

p,
span {
    font-size: 16px;
    font-weight: 400;
    margin: 0;
}

body {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

img {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover !important;
}

input,
textarea {
    width: 100%;
    padding: 12px 20px;
    outline: none;
    resize: none;
    border: 1px solid #E4E7E9;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 300;
}

input::placeholder,
textarea::placeholder {
    color: #a6a6ac;
}

button {
    border: none;
}

:root {
    --colorPrimary: #292B75;
    --paraColor: #5A5A5A;
    --colorBlack: #121212;
    --colorWhite: #ffffff;
    --paraFont: 'Roboto', sans-serif;
    --headingFont: 'Source Sans Pro', sans-serif;

}

.section_heading {
    text-align: center;

}

.section_heading h2 span {
    color: #f5548e;
    font-weight: 700;
    font-size: 32px;
}

.section_heading h2 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 20px;
}

.section_heading p {
    font-size: 18px;
    font-weight: 500;
    width: 720px;
    margin: 0 auto;
    color: var(--paraColor);
}

.title {
    color: var(--colorBlack);
    font-size: 20px;
    font-weight: 600;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.title:hover {
    color: #f5548e;
}

/* menu start */

.main_menu {
    width: 100%;
    height: 85px;
    position: fixed;
    top: 0px;
    border-bottom: 2px solid #EEE;
}

.main_menu .navbar-brand {
    margin: 0 30px;
    padding: 0;
    width: 125px;
    border-right: 1px solid rgba(255, 255, 255, .15);
}

.main_menu .navbar-nav {
    gap: 25px;
    line-height: 85px;
}

.main_menu .navbar-nav .nav-item {
    position: relative;
}

.main_menu .navbar-nav .nav-item .nav-link {
    color: var(--colorWhite);
    font-family: var(--headingFont);
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    margin: 0;
    padding: 0;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.main_menu .navbar-nav .nav-item .nav-link i {
    font-size: 13px;
    margin-left: 5px;
}

.main_menu .navbar-nav .nav-item:hover .nav-link,
.main_menu .navbar-nav .nav-item .nav-link.active {
    color: var(--colorWhite);
}

.main_menu .right_menu {
    gap: 15px;
    align-items: center;
    margin-right: 30px;
}

.main_menu .right_menu li {}

.main_menu .right_menu li a {
    color: #e6e6efa6;
    font-weight: 400;
    font-size: 16px;
    line-height: 85px;
    font-family: var(--headingFont);
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.main_menu .right_menu li a:hover {
    color: #fa8b0c;
}

.main_menu .right_menu .right_serch {
    margin-right: 180px;
}

.main_menu .right_menu li:first-child a {
    height: 45px;
    text-align: center;
    line-height: 28px;
    background: #292B75;
    padding: 10px 15px;
    border-radius: 5px;
    margin-right: 20px;
}

.main_menu .right_menu li:first-child a i {
    margin-right: 5px;
}

.main_menu .right_menu li:last-child a {
    height: 45px;
    line-height: 45px;
    padding: 0px 5px;
}

.main_menu .droap_menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 200px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    line-height: 35px;
    padding: 15px 0px;
    transform: scaleY(.5);
    transform-origin: top;
    -webkit-transform: scaleY(.5);
    background: var(--colorWhite);
    -moz-transform: scaleY(.5);
    -ms-transform: scaleY(.5);
    -o-transform: scaleY(.5);
    opacity: 0;
    visibility: hidden;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.main_menu .droap_menu li {}

.main_menu .droap_menu li a {
    color: var(--colorBlack);
    font-family: var(--headingFont);
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    padding: 0 30px;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
    width: 100%;
}

.main_menu input {
    background: none;
    border: none;
}

.main_menu .droap_menu li a:hover {
    color: #fa8b0c;
}

.main_menu .nav-item:hover .droap_menu {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -o-transform: scaleY(1);
    opacity: 1;
    visibility: visible;
}

/* menu end */


/* banner start */
.banner {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}

.overlay {
    background: rgba(47, 38, 57, .8);
    width: 100%;
    height: 100%;
    align-items: center;
}

.banner div {
    height: 100%;
}

.banner_text {
    padding-top: 275px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.banner_text h1 {
    color: #ffffff;
    font-size: 42px;
    font-weight: 700;
}

.banner_text p {
    color: #E4E7E9;
    font-size: 16px;
    font-weight: 500;
    margin-top: 10px;
}

.banner_search {
    background: var(--colorWhite);
    padding: 25px;
    margin-bottom: 50px;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    margin-top: 20px;
}

.banner_search ul {}

.banner_search ul li {
    padding-right: 10px;
}

.banner_search button {
    background: #d15012f2;
    padding: 10px 16px;
    color: var(--colorWhite);
}

.banner_item {}

.banner_item ul {
    gap: 10px;
}

.banner_item ul li {}

.banner_item ul li a {
    text-align: center;
    border: 1px solid rgba(255, 255, 255, .3);
    padding: 20px 20px;
    color: var(--colorWhite);
    width: 120px;
}

.banner_item ul li a .icon {
    font-size: 32px;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.banner_item ul li:first-child a .icon {
    color: #eb5f0f;
}

.banner_item ul li:last-child a .icon {
    color: #d33014;
}

.banner_item ul li:nth-child(2) a .icon {
    color: #cc185d;
}

.banner_item ul li:nth-child(3) a .icon {
    color: #273b94;
}

.banner_item ul li a:hover .icon {
    color: var(--colorWhite);
}

/* banner end */

/* catagory start */

.single_catagory {
    position: relative;
    margin-bottom: 25px;
}

.single_catagory .img {

    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.single_catagory .img::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(45deg, rgba(245, 84, 142, .85), rgba(144, 58, 249, .85));
    opacity: 0;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.single_catagory:hover .img::before {
    opacity: 1;
}

.single_catagory .img::after {
    position: absolute;
    content: "";
    background: rgb(57 38 51 / 57%);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.single_catagory .text {
    position: absolute;
    top: 30%;
    left: 37%;
    color: var(--colorWhite);
    text-align: center;
}

.single_catagory .text .icon {
    font-size: 35px;
    margin-bottom: 15px;
}

.single_catagory .text h4 {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 500;
}

.single_catagory .text span {
    background: #10c571fa;
    padding: 5px 15px;
    border-radius: 15px;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.single_catagory:hover .text span {
    color: var(--colorBlack);
    background: var(--colorWhite);
}

/* catagory end */


/* list start */
.list_area {
    background: #f5f7fc;
}

.single_list {
    position: relative;
    background: var(--colorWhite);
    border: 1px solid #eee;
    margin-bottom: 25px;
}

.single_list .img {
    width: 100%;
}

.single_list .img_bage {
    position: absolute;
    background: #fa8b0c;
    color: #fff;
    top: 15px;
    left: 16px;
    padding: 4px 10px;
    font-size: 13px;
}

.single_list .text {
    padding: 20px 15px 15px 15px;
}

.single_list .text .price {
    margin: 20px 0;
}

.single_list .text .price .retting {}

.single_list .text .price .retting {
    background: #32cc6f;
    padding: 8px 20px;
    color: var(--colorWhite);
    font-size: 13px;
    margin-right: 5px;
}

.single_list .text .price .price_1 {
    background: #f5548e;
    padding: 8px 25px;
    color: var(--colorWhite);
    font-size: 13px;
    margin-right: 5px;
}

.single_list .text .price .open_btn {
    border: 1px solid #eee;
    padding: 6px 12px;
    color: #32cc6f;
}

.single_list .text ul {}

.single_list .text ul li {
    color: var(--paraColor);
    margin-bottom: 7px;
}

.single_list .text ul li p i {
    color: #f5548e;
    font-size: 13px;
}

.single_list .text ul li p {}

.single_list .text .list_buttom {
    border-top: 1px solid #e3e6ef;
    padding-top: 20px;
    margin-top: 20px;
}

.single_list .text .list_buttom .list_buttom_left {}

.single_list .text .list_buttom .list_buttom_left a {
    color: var(--paraColor);
}

.single_list .text .list_buttom .list_buttom_left a i {
    color: #903af9;
    background: #903af952;
    padding: 10px 8px 6px 8px;
    border-radius: 50%;
    font-size: 13px;
}

.single_list .text .list_buttom .list_buttom_right {}

.single_list .text .list_buttom .list_buttom_right p {
    margin-right: 10px;
}

.single_list .text .list_buttom .list_buttom_right p i {
    color: var(--paraColor);
}

.single_list .text .list_buttom .list_buttom_right a {
    color: var(--paraColor);
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.single_list .text .list_buttom .list_buttom_right a:hover {
    color: #e83e8c;
}

.list_area_btn {
    text-align: center;
}

.list_area_btn a {
    padding: 16px 20px;
    background: linear-gradient(to right, #f5548e, #fa8b0c);
    color: var(--colorWhite);
    font-weight: 600;
    font-size: 18px;
    border-radius: 5px;
}

/* list end */

/* cut area start */
.cut_area {
    border-bottom: 1px solid #EEE;
    padding-bottom: 100px;
}

.cut_img {}

.cut_text {
    margin-left: 100px;
}

.cut_text ul {}

.cut_text ul li {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 45px;
}

.cut_text ul li .icon {
    height: 80px;
    width: 80px;
    line-height: 80px;
    color: #6f42c1;
    background: #6610f22b;
    font-size: 30px;
    border-radius: 50%;
    padding: 0px 16px 9px 27px;
    margin-right: 35px;
}

.cut_text ul li:last-child .icon {
    background: #e48d9c85;
    color: #fd4868;
}

.cut_text ul li:nth-child(2) .icon {
    color: #20c997;
    background: #a6ecd7ad;
}

.cut_text ul li .text {
    width: 77%;
}

.cut_text ul li h4 {
    font-size: 18px;
    margin-bottom: 10px;
}

.cut_text ul li p {
    color: var(--paraColor);
}

.cut_text_btn {
    gap: 10px;
}

.cut_text_btn li {}

.cut_text_btn li a {
    color: var(--colorWhite);
    background: #17bb84;
    padding: 10px 20px;
    border-radius: 5px;
}

.cut_text_btn li:last-child a {
    background: #d81493cc;
}

/* cut area end */


/* place start */
.place_item {
    position: relative;
    margin-bottom: 25px;
}

.place_item .img {
    height: 100%;
    width: 100%;
}

.place_item .img::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(45deg, rgba(245, 84, 142, .85), rgba(144, 58, 249, .85));
    opacity: 0;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.place_item:hover .img::before {
    opacity: 1;
}

.place_item .text {
    position: absolute;
    top: 30px;
    left: 30px;
    color: var(--colorWhite);
}

.place_item .text h3 {
    font-size: 20px;
}

.place_list {
    border: 1px solid #e3e6ef;
    padding: 45px 40px;
    box-shadow: 0 5px 1rem rgba(146, 153, 184, .1);
}

.place_list .list {
    margin: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.place_list .list li {
    width: 25%;
    margin-bottom: 15px;

}

.place_list .list li a {
    color: var(--paraColor);
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.place_list .list li :hover {
    color: #f5548e;
}

/* place end */


/* testimonial start */

.testimonial {
    border-bottom: 1px solid#eee;
    padding-bottom: 100px;
}

.testimonial_content {
    text-align: center;
}

.testimonial_authot_img {
    display: inline-block;
    height: 80px;
    width: 80px;
    margin-bottom: 20px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.testimonial_authot_text {
    margin-bottom: 30px;
}

.testimonial_authot_text h4 {
    font-size: 20px;
    margin-bottom: 7px;
}


.testimonial_authot_text span {
    color: var(--paraColor);
}

.testimonial_content .author_comment {
    width: 59%;
    margin: 0 auto;
    font-size: 19px;
    font-weight: 400;
    color: var(--paraColor);
}

/* testimonial end */